In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("car_accidents.csv")  #Cargar los datos...
df

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-2716600,3,08/02/16 0:37,08/02/16 6:37,40.10891,-83.09286,40.11206,-83.03187,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2716601,2,08/02/16 5:56,08/02/16 11:56,39.86542,-84.06280,39.86501,-84.04873,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-2716602,2,08/02/16 6:15,08/02/16 12:15,39.10266,-84.52468,39.10209,-84.52396,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-2716603,2,08/02/16 6:15,08/02/16 12:15,39.10148,-84.52341,39.09841,-84.52241,0.219,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
4,A-2716604,2,08/02/16 6:51,08/02/16 12:51,41.06213,-81.53784,41.06217,-81.53547,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,A-2717094,2,25/02/16 15:50,25/02/16 21:50,41.65404,-85.70526,41.65458,-85.58601,6.156,At County Road 300 W - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
495,A-2717095,2,25/02/16 15:50,25/02/16 21:50,41.65458,-85.58601,41.65417,-85.70476,6.130,At County Road 300 W - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
496,A-2717096,2,25/02/16 15:52,25/02/16 21:52,41.39465,-81.65326,41.39413,-81.65326,0.036,At Rockside Rd/Exit 155 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
497,A-2717097,2,25/02/16 15:59,25/02/16 21:59,41.06211,-81.53053,41.06239,-81.52229,0.430,Between Main St/Broadway/Exit 22 and Wolf Ledg...,...,False,False,False,False,False,False,Day,Day,Day,Day
498,A-2717098,2,25/02/16 16:47,25/02/16 22:47,41.09598,-81.49976,41.09731,-81.49995,0.092,At E Glenwood Ave - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [10]:
df.shape #En el formato: (Número de registros, número de variables)

(499, 47)

In [12]:
df.columns #Nombre de las columnas

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [14]:
df.dtypes #Tipos por columna

ID                        object
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Number                   float64
Street                    object
Side                      object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

In [23]:
c1 = df["Severity"]     #Para los valores de "Severidad"
print(c1.unique())      #Valores únicos
print(c1.max())         #Valor máximo
print(c1.min())         #Valor mínimo
print(c1.mean())        #Media
print(c1.median())      #Mediana
print(c1.std())         #Desviación estandar

[3 2 4]
4
2
2.691382765531062
2.0
0.8412948352288273

In [25]:
c2 = df["Humidity(%)"]  #Para los valores de "Humedad(%)"
print(c2.unique())      #Valores únicos
print(c2.max())         #Valor máximo
print(c2.min())         #Valor mínimo
print(c2.mean())        #Media
print(c2.median())      #Mediana
print(c2.std())         #Desviación estandar

[ 58.  91.  97.  55.  93. 100.  92.  70.  96.  79.  88.  80.  86.  82.
  90.  74.  84.  81.  73.  77.  85.  78.  68.  75.  63.  65.  57.  56.
  87.  59.  60.  83.  62.  48.  71.  54.  52.  46.  42.  50.  41.  51.
  66.  67.  nan  89.  94.  76.  69.  72.  31.  44.  38.  49.  45.  35.
  29.  43.  32.  33.  34.  26.  47.  37.  30.  40.  61.  64.  53.  99.]
100.0
26.0
75.65111561866125
80.0
17.41775049452284